/*Titre Formulaire*/
.section-contact h2 {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 100px;
}

/*Formulaire*/
form {
  display: flex;
  flex-direction: column;
  max-width: 1000px;
  margin: auto;
  color: var(--white);

  /* Media Queries*/
  @media screen and (max-width: 996px) {
    max-width: 300px;
  }
}

.formulaire {
  display: flex;
  flex-direction: row;
  gap: 20px;

  @media screen and (max-width: 996px) {
    flex-direction: column;
  }
}

.form-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

label {
  margin-bottom: 10px;
}
input {
  padding: 25px;
  border-radius: 5px;
  border: none;
}
textarea {
  padding: 25px;
  border-radius: 5px;
  border: none;
  margin-bottom: 80px;
}
